# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.DS_Store

### yap-backend
yac-backend/node_modules
yac-backend/.DS_Store
yac-backend/.env
yac-backend/package-lock.json

### yap-frontend
# dependencies
yac-frontend/node_modules
yac-frontend/.pnp
yac-frontend/.pnp.js
yac-frontend/.env
yac-frontend/.env.development
yac-frontend/package-lock.json

# testing
yac-frontend/coverage
*.snap

# production
yac-frontend/build

# misc
yac-frontend/.DS_Store
yac-frontend/.env.local
yac-frontend/.env.development.local
yac-frontend/.env.test.local
yac-frontend/.env.production.local

yac-frontend/npm-debug.log*
yac-frontend/yarn-debug.log*
yac-frontend/yarn-error.log*

yac-frontend/package-lock.json