.App {
  text-align: center;
}

.notification-yac {
  border-left: 8px solid #121416;
}

.notification-yac,
.notification-yac .timer {
  background-color: #343a40 !important;
}

.notification-yac .timer-filler {
  background-color: #fff;
}

.notification-yac .notification-close {
  background-color: #121416;
}
